# Compiled Java classes
*.class

# Maven generated code
fleeticli/target/*
fleeti-archetype/target/*

*.DS_Store
.idea*
fleeti-archetype/.idea/workspace.xml
fleeticli/.idea/workspace.xml
fleeticli/dependency-reduced-pom.xml
